
/*Alineación de imágenes y textos*/
h2
{
    text-align: center;
}

.card
{
    text-align: center;
    position: relative;
}

.card-evolution
{
    text-align: center;
    width: 400px;
}


.card-media
{
    padding: 20px;
    text-align: center;
}

.img-type
{
    width:100px; 
    height:150px;

}

/*Imagen de fondo*/
.img-evolution
{
    background-image: url('/assets/img/pokeball_fondo.png');
    background-position: center top;
    background-size: 300px 300px;
    width:300px; 
    height:300px;
}