<div class="container">

    <h2><b>~ {{pokemon.name}} ~</b></h2>

<div class="card">    
    <div class="card-body">
        <p>{{pokemon.description}}</p>
        <h4> <b>Types:</b> </h4>
        <ul *ngFor="let type of pokemon.types">{{type}}</ul>
    </div>
</div>
<hr>
<h2><b>~ Evolutions ~</b></h2>
<div class="card card-media">
    <br> 
    <div *ngIf="evoluciones.length == 0">
        <h4>No have evolutions...</h4>
        <hr>
    </div>
    <div *ngIf="evoluciones.length > 0">
        <div *ngIf="pokemon.evolutions.length > 0">
            <!--Recorre el array de Evoluciones hasta encontrar la correspondiente-->
            <div *ngFor="let evolucion of evoluciones; let i = index">
                <br> 
                <h4> <b>{{evolucion.to}}</b> </h4>
                <img src="{{getImagen(evolucion.to)}}">
                <hr>
                <h4><b>{{evolucion.method}}</b></h4>
                <h3> <b>{{evolucion.level}}</b> </h3>
            </div>
        </div>
    </div>
    <button class="btn btn-danger" [routerLink]="['home']" ><b>Regresar</b></button>
</div>
<br>
</div>
